:root{
    --primary-color:  rgb(237, 154, 0);
    ---dark-background-color: rgb(48, 46, 46);
    --text-color: white;
}

body {
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

.dark-mode{
    background: var(---dark-background-color);
    color: var(--text-color);
}